
.container {
    padding: 0% 30% 30% 30%;
   
}

header {
    text-align: center;
    padding-bottom: 10%;
    font-size: 2.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/**/
#board td {
    width: 80px;
    height: 130px;
    border: 5px solid #000000;
    background: #FFFFFF;
    font-size: 46pt;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

#board td:hover{
    background-color: lightgray;
}

#playerTurn {
    font-size: 3em;
    font-family: arial;
    font-weight: bold;
}



 
